# Sanity — אותו פרויקט/dataset של האתר הקיים
# חובה להגדיר את שני אלה ב-Vercel (Project Settings → Environment Variables),
# אחרת האתר לא יוכל למשוך תוכן מ-Sanity ויופיע ריק.
PUBLIC_SANITY_PROJECT_ID=bk4y5jiw
PUBLIC_SANITY_DATASET=production
SANITY_WRITE_TOKEN=skoQWbhgdwuYSrzZvTgVHaHPE5wYzcY1xfeqKnmsSOxXHdj4g6iXlL4iMjc1nPSA73Q6U7fr98oobQjV3YJ6QMfe8bEMXoKFf9xevVDb2VOwChgHnRPAkN0uJOX5GGkpWhHps59vVG2qR7tmQcazYeuk1DK6hfAjMgAHMnrwzcWUWtUODm7J
